<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="CONN_STR" value="Data Source=MALEK\INSTANCE_2K14_01;Database=ACTIVATION;User ID=sa;Password=sapassword"/>
		<add key="BLC_PATH" value="E:\tables\backend\App\BLC\bin\Debug\netcoreapp3.1\BLC.dll"/>
		<add key="BLC_MESSAGES" value="E:\tables\backend\App\BLC\Messages\Messages.xml"/>
		<add key="USER_ID" value="ABD-DAN"/>
		<add key="PWD" value="13415wwBAA142712"/>
		<add key="SERVICE_CODE" value="I2"/>
		
	</appSettings>
</configuration>

<!--<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="CONN_STR" value="Data Source=WASSIM\INSTANCE_2K14_1;Database=ACTIVATION;User ID=sa;Password=sapassword"/>
		<add key="BLC_PATH" value="G:\Activation\Activation\App\BLC\bin\Debug\netcoreapp3.1\BLC.dll"/>
		<add key="BLC_MESSAGES" value="G:\Activation\Activation\App\BLC\Messages\Messages.xml"/>
		<add key="USER_ID" value="WAS-HUS"/>
		<add key="PWD" value="11411wwAAA84285"/>
		<add key="SERVICE_CODE" value="I2"/>

	</appSettings>
</configuration>-->