<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="CONN_STR" value="Data Source=MALEK\INSTANCE_2K14_01;Database=ACTIVATION;User ID=sa;Password=sapassword"/>
		<add key="BLC_PATH" value="E:\tables\backend\App\BLC\bin\Debug\netcoreapp3.1\BLC.dll"/>
		<add key="BLC_MESSAGES" value="E:\tables\backend\App\BLC\Messages\Messages.xml"/>
		<add key="USER_ID" value="ABD-DAN"/>
		<add key="PWD" value="13415wwBAA142712"/>
		<add key="SERVICE_CODE" value="I2"/>
		<add key="SERVER_KEY" value="AAAAhUx4cMY:APA91bHT3xtFC-Kwu9poDY2_R_CKNYVzKzJCEuASykdoanLKGxqo_L5Ku-Jl0nqDSOCKwYeCRnWj4dtMd480X8al-0TBnwla5dEIzfpu-wbcyZm-ZIUDwfGGRBKGESvXBpiAjgFuKhOW"/>
		<add key="SENDER_ID" value="572513611974"/>
	</appSettings>
</configuration>

<!--<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="CONN_STR" value="Data Source=WASSIM\INSTANCE_2K14_1;Database=ACTIVATION;User ID=sa;Password=sapassword"/>
		<add key="BLC_PATH" value="G:\Activation\Activation\App\BLC\bin\Debug\netcoreapp3.1\BLC.dll"/>
		<add key="BLC_MESSAGES" value="G:\Activation\Activation\App\BLC\Messages\Messages.xml"/>
		<add key="USER_ID" value="WAS-HUS"/>
		<add key="PWD" value="11411wwAAA84285"/>
		<add key="SERVICE_CODE" value="I2"/>
		<add key="SERVER_KEY" value="AAAAhUx4cMY:APA91bHT3xtFC-Kwu9poDY2_R_CKNYVzKzJCEuASykdoanLKGxqo_L5Ku-Jl0nqDSOCKwYeCRnWj4dtMd480X8al-0TBnwla5dEIzfpu-wbcyZm-ZIUDwfGGRBKGESvXBpiAjgFuKhOW"/>
		<add key="SENDER_ID" value="572513611974"/>

	</appSettings>
</configuration>-->